.banner{
    height: 75vh;
    background-image: url('../../assets/images/index1.jpg');
    @include media-breakpoint-down(sm) {
        height: 60vh;
    }
}

.subBanner{
    height: 75vh;
    background-image: url('../../assets/images/index10.jpg');
    @include media-breakpoint-down(sm) {
        height: 65vh;
    }
}
.cartCount{
    position: absolute;
    top: 0;
    right:0;
    background-color: $danger;
    width: 0.75rem;
    height: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
}
.soldOut{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($dark, 0.3);
    @include media-breakpoint-down(sm) { 
        width: 350px;
        height: 540px;
    }
}